@charset "utf-8";
/*
    Cascading Style Sheets 
    html 파일을 작성할 때 글자의 크기나 색깔, 여백 등의 각종 스타일을 지정할 때 사용
*/


.header {
    background-color: #B2CEF4;
    position: relative;
    width: 1300px;
    margin: 0 auto;
}

.nav {
    background-color:#4E5866;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav_a {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: dotom;
    padding-left: 30px;
 }

 .content_div {
    position: relative;
    width: 1200px;
    margin: 0 auto;
 }

 .content_inner {
     line-height: 40px;
 }

 .aboutme {
     background-color: #EFF5FB;
     padding: 30px 30px 50px 50px;
     margin: 0px 0px 100px 0px;
     min-height: 350px;
     width: 920px;
     font-size: 20px;
     line-height: 35px;
 }



 .aside {
    background-color: #CDEAFF;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: auto;
 }

 .footer {
    background-color: #F2F2F2;
    position: relative;
    width: 1400px;
    margin: 0 auto;
 }

 .img1 {
     width: 150px;
 }

 .img2 {
     width: 300px;
 }
 
 .shadow1 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

 .img_left {
     
     width: 350px;
     margin: 0px 30px 0px 0px;

     /* 그림자효과 */
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

 .img_right {
    border: 1px solid gray;
    width: 300px;
    margin: 0px 0px 0px 30px;
}

 .line{
    width: 300px;
    color: "black";
    size: 2;
 }

table td {
    border: solid black;
}